.home {
  .bottomButton {
    background-color: #fff;
    margin-left: 10px;
    padding: 3px;

    &:hover {
      background-color: #aaa;
    }
  }

  .playlists {
    .playlist {
      display: flex;
      cursor: pointer;
      padding: 10px;

      .folder-path {
        display: flex;
        align-items: center;

        .delete-button {
          color: #FFF;
          opacity: 0;
          transition: opacity ease 0.2s;
          margin-left: 10px;
          padding: 2px;

          &:hover {
            background-color: #555;
          }
        }

        &:hover .delete-button {
          opacity: 1;
        }
      }
    }
  }
}

.remote-peer-id-input {
  width: 400px;
  background-color: #eee;
  padding: 10px;
}

.modalButton {
  margin-top: 10px;
  background-color: lightcyan;
  margin-right: 10px;
  padding: 5px;
  border: solid #555 2px;

  &:hover {
    background-color: #aaa;
  }
}