.home {
  .playlists {
    .playlist {
      display: flex;
      cursor: pointer;
      padding: 10px;

      .folder-path {
        display: flex;
        align-items: center;

        .delete-button {
          opacity: 0;
          transition: opacity ease 0.2s;
          margin-left: 10px;
        }

        &:hover .delete-button {
          opacity: 1;
        }
      }
    }
  }
}

.remote-peer-id-input {
  width: 400px;
}