.navigation-bar {
  display: flex;
  justify-content: space-between;
  transition: opacity ease 0.2s;
  // padding: 10px 15px;
  height: 40px;
  -webkit-app-region: drag;
  background-color: rgba(150, 152, 152, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .nav-left {
    display: flex;
    align-items: center;

    .nav-bar-text {
      color: aliceblue;
      margin-left: 30px;
    }
  }

  .close-button,
  .back-button {
    cursor: pointer;
    display: inline-flex;
    -webkit-app-region: no-drag;
    padding: 10px;
    height: 20px;

    &:hover {
      background-color: rgba(170, 170, 170, 0.7);
    }
  }
}