.playlist-detail {
  background-color: rgba(223, 228, 234, 1.0);

  .playlist-top {
    background-color: rgba(155, 156, 158);
    height: 40px;
  }

  .folder-path {
    padding-bottom: 20px;
    view-transition-name: playlistLocation;
  }

  .playlist {
    .video-item {
      display: flex;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      border-top: 2px solid rgba(185, 190, 200, 1.0);

      &:hover {
        background-color: rgba(101, 199, 191, 0.2);
      }


      .video-thumbnail {
        width: 160px;
        height: 90px;
        border-radius: 8px;
      }

      .filename {
        margin-left: 20px;
        color: #000;
      }
    }
  }
}