.follower {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;

  .nav-wrapper {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .follower-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}