.player {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
  }

  .control-layer {
    width: 100%;
    height: 100%;

    .navigation-bar-wrapper {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity ease 0.3s;
    }

    .control-bar {
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity ease 0.3s;

      button {
        margin: 0 10px;
        background-color: rgb(162, 162, 162);
        // background-color: #FFF;
      }

      .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .second-row {
        .progress {
          background-color: rgba(176, 196, 222, 0.3);
          position: relative;
          height: 50px;

          .done {
            position: absolute;
            top: 0;
            right: 100%;
            width: 100%;
            height: 100%;
            background-color: rgba(176, 196, 222, 0.6);
          }

          .hover-indicator {
            position: absolute;
            top: 0;
            right: 100%;
            border-right: 2px solid rgb(175, 205, 242);
            height: 100%;
            width: 100%;
          }

          .current-time {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }

          .total-time {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}