.player {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
  }

  .control-layer {
    width: 100%;
    height: 100%;

    .navigation-bar-wrapper {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity ease 0.3s;
    }

    .control-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity ease 0.3s;
      padding-bottom: 30px;

      button {
        cursor: pointer;
        margin: 0 10px;
        background-color: rgba(0, 0, 0, 0);
        border: rgba($color: #000000, $alpha: 0)
      }

      .row {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.2);
        height: 60px;
        justify-content: space-between;
        border-radius: 20px 20px 20px 20px;
        padding-left: 20px;
        padding-right: 20px;

        .time {
          margin: auto 30px;
        }

        .icon {
          margin-top: 5px;
          background-color: rgba($color: #000000, $alpha: 0)
        }

        .progress-wrapper {
          cursor: pointer;
          flex-grow: 1;

          .progress {
            background-color: rgba(176, 196, 222, 0.3);
            position: relative;
            margin-top: 28px;
            height: 4px;
            overflow: hidden;
            border-radius: 10px 10px 10px 10px;

            .done {
              position: absolute;
              top: 0;
              right: 100%;
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.9);
            }
          }

          .hover-indicator {
            position: absolute;
            top: 0;
            right: 100%;
            border-right: 2px solid rgb(175, 205, 242);
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.subtitle-wrapper {
  margin-top: 10px;

  .select-subtitle {
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}

.share-title {
  margin-bottom: 10px;
}

.close-button,
.copy-button {
  cursor: pointer;
  padding: 5px;

  &:hover {
    background-color: #aaa;
  }
}